<class class="primary title-bar">
    <span class="title left">
        <a href="{{ path('homepage') }}">
                <i class="fa fa-trello"></i> Todo List
            </a>
    </span>
    <span class="title right">
        <a href="{{ path('todo_add') }}">
            <i class="fa fa-plus-square"></i>
        </a>
    </span>
</class>